# Supabase Configurations
VITE_SUPABASE_URL=https://ciywwpnfiokubrbrblpo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNpeXd3cG5maW9rdWJyYnJibHBvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5OTg3OTUsImV4cCI6MjA5NjU3NDc5NX0.esk2L3NtCjuZdSrLrmQ1KAnVre_nt4GCYFiQGK3LnO8
